ul {
  font-family: Arial, Helvetica, sans-serif;
  background-color: aquamarine;
  color: blueviolet;
  list-style: square;
}

li {
  text-decoration: underline;
  color: blue;
  background-color: antiquewhite;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
